@import "./style/header.scss";
@import "./style/nav.scss";
@import "./style/home.scss";
@import "./style/footer.scss";
@import "./style/admin.scss";
@import "./style/mediaQuery.scss";
@import "./style/acceuil.scss";

@font-face {
  font-family: "PKMN RBYGSC";
  src: url("chemin_vers_votre_police/PKMN_RBYGSC.ttf");
}

* {
  margin: 0;
  font-size: 1.25rem;
  font-family: "PKMN RBYGSC", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
}

main {
  background-image: url("./assets/images/paysage.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  bottom: 5%;
  top: 10.9%;
  width: 100%;
}

button {
  border: 2px solid black;
  background-color: #bc4a3c;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.pasDeco {
  text-decoration: none;
}
